body{
	background-color: #d3d3d3;
	background-size: cover;
}

.title {
	
	font-size: 100px;
	padding: 20px;
	font-weight: 100px;
	text-align: center;
}

.interface {
	text-align: center;

}

h2 {
	text-align: center;
	font-size: 60px;
	font-style: italic;
	font: chopin script;
}

h3 {
	font-size: 10px;
	text-align: center;
}

form {
	font-size: 20px;
	width: auto;
}