body{
	text-align: center;
	color: black;
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
	background-size: cover;
	
}

.subtitle{
	font-size: 20px;
}
.button{
	color: black;
	font-size: 10px;
}

h2 {
	text-align: center;
	font-size: 80px;
}